In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


print("Hi there")

In [5]:
df = pd.read_csv('credit.csv', delim_whitespace = True)

df.head()

df.columns

Index(['Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education', 'Gender',
       'Student', 'Married', 'Ethnicity', 'Balance'],
      dtype='object')

In [8]:
df['Ethnicity'].unique

<bound method Series.unique of 0            Caucasian
1                Asian
2                Asian
3                Asian
4            Caucasian
5            Caucasian
6     African American
7                Asian
8            Caucasian
9     African American
10           Caucasian
11           Caucasian
12               Asian
13           Caucasian
14    African American
15    African American
16    African American
17               Asian
18               Asian
19               Asian
Name: Ethnicity, dtype: object>

In [9]:
df.describe

grouped = df.groupby('Age')

df[(df['Age'] > 30) & (df['Age'] < 40)]

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
3,148.924,9504,681,3,36,11,Female,No,No,Asian,964
6,20.996,3388,259,2,37,12,Female,No,No,African American,203