# Compulsory Task

In this compulsory task you will use pandas to select data from a dataset and explain the data retrieved for a given line of code.

In [3]:
import pandas as pd

You will use the same `balance.txt` dataset used in the example Jupyter notebook. Remember to ensure it is in the same folder as this notebook.

In [7]:
df = pd.read_csv('balance.txt',sep=' ')
# Print all columns
print(df.columns)

Index(['Balance', 'Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education',
       'Gender', 'Student', 'Married', 'Ethnicity'],
      dtype='object')

1. Write the code that performs the action described in the following statements.

In [9]:
# Select the 'Limit' and 'Rating' columns of the first five observations
col_limit_rating = df[['Limit', 'Rating']]
col_limit_rating.head(5)

   Limit  Rating
0   3606     283
1   6645     483
2   7075     514
3   9504     681
4   4897     357

In [13]:
# Select the first five observations with 4 cards
rows_card_4 = df[df['Cards'] == 4]
print(rows_card_4.head(5))

      Balance   Income  Limit  Rating  Cards  Age  Education  Gender Student  \
2   22.530409  104.593   7075     514      4   71         11    Male      No
5   22.486178   80.180   8047     569      4   77         10    Male      No
10  13.994990   63.095   8117     589      4   30         14    Male      No
20   9.853100   17.700   2860     235      4   63         16  Female      No
29  14.007770   26.813   5611     411      4   55         16  Female      No

   Married  Ethnicity
2       No      Asian
5       No  Caucasian
10     Yes  Caucasian
20      No      Asian
29      No  Caucasian

In [21]:
# Sort the observations by 'Education'. Show users with a high education value first.
df.sort_values(by = 'Education', ascending = False)

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
60,13.297283,35.510,5198,364,2,35,20,Female,No,No,Asian
51,13.010768,39.705,3969,301,2,27,20,Male,No,Yes,African American
378,10.140785,19.349,4941,366,1,33,19,Male,No,Yes,Caucasian
247,13.774598,36.364,2220,188,3,50,19,Male,No,No,Caucasian
238,11.079748,26.532,2910,236,6,58,19,Female,No,Yes,Caucasian
...,...,...,...,...,...,...,...,...,...,...,...
284,8.298482,14.711,2047,167,2,67,6,Male,No,Yes,Caucasian
368,19.555838,89.000,5759,440,3,37,6,Female,No,No,Caucasian
224,25.262836,121.709,7818,584,4,50,6,Male,No,Yes,Caucasian
254,13.997826,36.508,6386,469,4,79,6,Female,No,Yes,Caucasian
30,10.201523,34.142,5666,413,4,47,5,Female,No,Yes,Caucasian

2. Write a short explanation in the form of a comment for the following lines of code. For example:  
```
# Selects the first 5 rows, and all of the columns for those rows.
df.iloc[:5,:]
```

In [ ]:
# Selects all rows and all columns from the dataframe
df.iloc[:,:]

In [ ]:
# Selects first 5 rows and 5 columns for those rows
df.iloc[5:,5:]

In [ ]:
# Selects all rows and 1st columns(index = 0) for those rows
df.iloc[:,0]

In [ ]:
# Selects first 9 rows and all columns for those rows
df.iloc[9,:]